/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__menu{
      @media screen and (max-width: 768px){
          position: fixed;
          top: -100%;
          left: 0;
          right: 0;
          width: 90%;
          margin: 0 auto;
          padding: 2.5rem 0 0;
          text-align: center;
          background-color: var(--body-color);
          transition: .4s;
          box-shadow: 0 0 4px rgba(0,0,0,.1);
          border-radius: 2rem;
          z-index: var(--z-fixed);
      }
  }
  &__item{
      margin-bottom: var(--mb-3);
  }
  &__link, &__logo, &__toggle{
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
  }
  &__logo{
      &:hover{
          color: var(--first-color);
      }
  }
  &__link{
      transition: .3s;
      
      &:hover{
          color: var(--first-color);
      }
  }
  &__toggle{
      font-size: 1.3rem;
      cursor: pointer;
  }
}

/* Show menu */
.show-menu{
  top: calc(var(--header-height) + 1rem);
}

/* Active menu link */
.active-link{
  position: relative;

  &::before{
      content: '';
      position: absolute;
      bottom: -.75rem;
      left: 45%;
      width: 5px;
      height: 5px;
      background-color: var(--title-color);
      border-radius: 50%;
  }
}


@media screen and (min-width: 768px) {
  .nav{
    height: calc(var(--header-height) + 1.5rem);

    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
    }
    &__toggle{
        display: none;
    }
  }

  .change-theme{
    position: initial;
    margin-left: var(--mb-4);
  }
}




/* Change background header */
.scroll-header{
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgba(218, 37, 53, .5);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;

  &:hover{
      background-color: var(--first-color);
  }

  &__icon{
      font-size: 1.5rem;
      color: var(--body-color);
  }
}

.show-scroll{
  visibility: visible;
  bottom: 1.5rem;
}